@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  background-color: peachpuff;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: blanchedalmond;
}

svg {
  margin: 5px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
}

#header {
  width: 100%;
  height: 12vh;
  font-size: 18px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#basic-commands,
#branch-commands {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

#what-is-github {
  color: black;
  padding: 5px;
  margin: 5px;
}

.box {
  background-color: brown;
  border-radius: 10px;
  display: flex;
  width: 48.5%;
  padding: 5px;
  margin: 5px 0;
  flex-direction: column;
}

.special-box {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
}

#more-to-come {
  color: black;
}

#craft-your-ssh {
  color: black;
}

img {
  width: 100%;
  object-fit: contain;
}

.footer {
  background-color: black;
  bottom: -10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
}
#github-logo:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .box {
    background-color: brown;
    display: flex;
    width: 100%;
    /* margin: 5px;
    padding: 5px; */
    flex-direction: column;
  }
}
