@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/* É boa prática resetar os styles do browser antes de estilizar */
/* * {
  border: 0px;
  margin: 0px;
  padding: 0px;
} */

html {
  background-color: peachpuff;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: rgb(248, 248, 248);
}

svg {
  margin: 5px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
}

#header {
  width: 100%;
  height: 10vh;
  font-size: 18px;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
}

#intro {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b4dc2ac-4474-418f-b9e3-a3794b03bb0a/d9efofh-a4d0fedc-e5b8-446f-a570-a65cb669c7c1.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiNGRjMmFjLTQ0NzQtNDE4Zi1iOWUzLWEzNzk0YjAzYmIwYVwvZDllZm9maC1hNGQwZmVkYy1lNWI4LTQ0NmYtYTU3MC1hNjVjYjY2OWM3YzEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qldr7NgLyWNiX5rKtdIBT9fog_HGLVH9vBJE83c1yEc');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.50);
}

#intro > #intro-content {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro > #intro-content > #intro-btn {
  color: black;
  opacity: 90%;
  background-color: white;
  text-decoration: none;
  text-align: center;
  width: 150px;
  padding: 13px;
  border: 1px solid black;
  transition: ease .5s;
}

#intro > #intro-content > #intro-btn:hover {
  transition: ease .5s;
  color: white;
  background-color: black;
  border: 1px solid white;
}
#intro > #intro-content > #intro-btn:active {
  transition: ease .5s;
  color: white;
  background-color: black;
  border: 1px solid white;
}

#content-header {
  display: flex;
  align-items: center;
}

main {
  width: 90%;
}

#basic-commands,
#branch-commands {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

#what-is-github {
  color: rgb(41, 41, 41);
  padding: 5px;
  margin: 5px;
}

.box {
  background-color: brown;
  border-radius: 10px;
  display: flex;
  width: 48.5%;
  padding: 5px;
  margin: 5px 0;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgb(80, 80, 80);
}

.special-box {
  background-color: rgb(24, 24, 24);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px 0;
}

#more-to-come {
  color: rgb(248, 248, 248);
}

#craft-your-ssh {
  color: rgb(41, 41, 41);
}

img {
  width: 100%;
  object-fit: contain;
  margin-top: 20px;
}

.footer {
  background-color: rgb(41, 41, 41);
  bottom: -10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
}
#github-logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .box {
    background-color: brown;
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: column;
  }
  .special-box {
    padding: 0px;
  }
}
